html, body
{
	background-image:url("http://www.walldevil.com/wallpapers/w02/781816-black-background-ghosts-pac-man-retro-games-video-games.jpg");
	height: 98%;
	width: 98%;
}


h3 {color:white;
	height: 15%;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	border: 1px solid #00f;
	width: 600px;
	height: 400px;
	margin: auto;
	background-image: url("http://i.imgur.com/lKuZKQA.jpg?1");


}
